!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.min.css')
    != css('app')
    != exportPaths('jsPaths')

    - var mainJsPath = jsUrl('/js/main.js')
    script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js",data-main="#{mainJsPath}")
    style
      body {
        padding-top: 60px;
      }

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button',data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Hu<span style="font-size: 80%;">&beta;</span>Rooms
          .nav-collapse.collapse
            if user
              ul.nav.pull-right
                li.dropdown
                  a#sign-in-label.dropdown-toggle(data-toggle="dropdown",role="button",href="#") Signed in as: #{user.name}
                  ul.dropdown-menu(role="menu",aria-labelledby="sign-in-label")
                    li(role="presentation")
                      a(href='/logout',role="menuitem") Sign Out
            else
              ul.nav.pull-right
                li
                  a(href='/auth/github') Sign In w/ Github

    .container-fluid
      .row-fluid
        block content

    - if (env === 'production')
      script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
        Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{googleAnalyticsId}', '#{googleAnalyticsHostname}');
        ga('send', 'pageview');

